// LMS-specific variables

@import '_builtin-block-variables';


// Font stacks (fallback cho brand-openedx)
$serif: Georgia, "Times New Roman", Times, serif !default;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$mono: Menlo, Monaco, Consolas, "Courier New", monospace !default;


$text-width-readability-max: 1080px;

// LMS-only colors
$audit-mode-color: rgb(74, 74, 74) !default;
$honor-mode-color: theme-color("primary") !default;
$verified-mode-color: theme-color("purchase") !default;
$professional-certificate-color: #9a1f60 !default;
